@{
    ViewData["Title"] = "Home Page";
}


<div class="row" style="justify-content: center; align-items: center; display: block; text-align: -webkit-center; padding-top: 10vh;">
    <h1 style="font-size: 1.5rem;">Gerencie seu estoque da melhor maneira</h1>
    <br />
    <br />
    <p style="text-align: justify; font-size: 1.0rem; width: 600px;">
        Nossa missão é ajudar pequenas e médias empresas a gerenciar seus estoques de maneira mais eficiente e eficaz, permitindo que elas possam se concentrar em expandir seus negócios e atender às necessidades de seus clientes.
        Entendemos que o gerenciamento de estoque pode ser um processo complexo e desafiador, especialmente para aqueles que estão iniciando um negócio, e é por isso que estamos comprometidos em fornecer soluções simples, intuitivas e acessíveis para todos.

    </p>
    <p style="text-align: justify; font-size: 1.0rem; width: 600px;">
        Nossa visão é ser a principal referência em software de controle de estoque para pequenas e médias empresas em todo o mundo. Queremos ser reconhecidos pela qualidade de nossos produtos, pela eficiência de nossos serviços
        e pela empatia com que tratamos nossos clientes. Além disso, queremos ser uma empresa que inspira mudanças positivas no mundo dos negócios, fornecendo soluções inovadoras que ajudam nossos usuários a serem mais eficientes e eficazes em seus negócios.
        Queremos ser uma força positiva para o crescimento e a prosperidade das empresas em todo o mundo.
    </p>
</div>
