<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - controlestoque</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/controlestoque.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
        .text-muted {
            text-align: -webkit-center;
        }

        .navbar-expand-sm .navbar-nav .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
            margin-left: 40px;
           
        }

            .navbar-expand-sm .navbar-nav .nav-link:hover {
                border-bottom: inset;
                border-block-color: #ffbe00;
                transition: 0s;
                opacity: 0.7;
            }

        .container .nav-link:hover {
            border-bottom: inset;
            border-block-color: #ffbe00;
            transition: 0s;
        }

        .botao2 {
            font-weight: bold;
            color: #d58c00;
            padding: 5px;
            border-width: 0px;
            background-color: #fff0c4;
            width: 70px;
            text-decoration: none;
            text-align: center;
            display: block;            
            border-radius: 10rem;
        }

            .botao2:hover {
                background: #ffe390;
                color: #d58c00;
                width: 70px;
                text-decoration: none;
                text-align: center;
               
            }

    </style>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="width: 1400px;">
                <a class="bi bi-box-seam" style="font-size:30px; color: black;" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="justify-content: center;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Fornecedor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Estoque</a>
                        </li>
                    </ul>
                </div>
                <a class="botao2" asp-area="" asp-controller="Login" asp-action="Logar">Entrar</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br />
    <br />
    <br />

    <footer class="border-top footer text-muted">
        <div class="container" style="display: flex; justify-content: center;">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Cadastrousuarios" asp-action="Create">Estoque</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Perfil" asp-action="Index">Perfil</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="Index">Contato</a>
            
        </div>
        <div class="icone" style="display: flex; justify-content: space-evenly; width: 250px; padding-bottom: 5px;">
            <a href="https://www.instagram.com/controlestoque/"><i class="bi bi-instagram" style="font-size: 20px; color: gray"></i></a>
            <a href="mailto:controlestoqueapp@gmail.com?subject=&body="><i class="bi bi-envelope-fill" style="font-size: 20px; color: gray"></i></a>
            <a href="https://wa.me/5531971495955"><i class="bi bi-whatsapp" style="font-size: 20px; color: gray"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
